#title {
    position: relative;
    left: 5%;
    margin: 15px;
    margin-right: 0px;

    width: 90%;
}

#heading {
    text-align: center;
}



canvas {
    display: block;

    width:600px;
    aspect-ratio: 16/9;

    margin-left: auto;
    margin-right: auto;

    
}

#text-container {
    margin-top: 20px;
}

#slider-container {
    background-color: rgb(248, 248, 247);

}


#slider {
    width: 80%
}


#menu {
    border-right: solid;
    border-color: black;
    
}

#contents {
    margin-left: 3%;
    margin-right: auto;
}

#page{
    position:relative;
    left: 3%;

}


nav.navbar {
    text-align: center;
    width: 100%;
    background-color: rgb(241, 249, 255);
}

@media (max-width: 768px) {
    /* スマホ専用のCSSを書く場所 */
    
    canvas {    
        width:350px;

        margin-left: auto;
        margin-right: auto;
    }

    
}

@media (max-width: 992px) {

    #contents {
        margin-left: 0%;
        margin-right: 0%;
    }

    #menu {
        border-right: none;
        
    }

    #page{
        left: 0%;
    
    }
    
}